parameters:
	level: 9
	paths:
		- src
	ignoreErrors:
		- '#Call to an undefined static method Eightfold\\HTMLBuilder\\Element::(.*)#'
		- '#Call to an undefined method Eightfold\\Amos\\ObjectsFromJson\\PublicMeta::(.*)#'
		- '#Call to an undefined method Eightfold\\Amos\\ObjectsFromJson\\PrivateObject::(.*)#'
		- '#Call to an undefined method Eightfold\\Amos\\ObjectsFromJson\\PublicObject::(.*)#'
