:root {
  --header-font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  --body-font: "Open Sans", "Helvetica Neue", Verdana, sans-serif;
  --code-font: Consolas, monaco, monospace;

  --x-bold-font: 600;
  --bold-font: 500;
  --medium-font: 300;
  --light-font: 250;

  --2xl-font: clamp(30pt, 9.375vw, 35pt);
  --xl-font: clamp(25pt, 7.8125vw, 30pt);
  --l-font: clamp(20pt, 6.25vw, 25pt);
  --m-font: clamp(16pt, 5vw, 18pt);
  --s-font: clamp(13pt, 4.0625vw, 15pt);
  --xs-font: clamp(10pt, 3.125vw, 14pt);
  --2xs-font: clamp(8pt, 3.125vw, 12pt);

  --l-line-height: calc(var(--2xl-font) * 1);
  --m-line-height: calc(var(--s-font) * 1.62);
  --s-line-height: calc(var(--s-font) * 1.25);

  --line-length: 70ch;

  --key: #0A6276;
  --key-light: #5FCAF2;
  --gray-darkest: #030303;
  --gray-darker: #0F2124;
  --gray-lightest: #FCFDFD;
  --red: #B91C00;
  --red-light: #F77E68;
  --green: #0D7220;
  --green-light: #83F598;

  --vw-0: 0vw;

  --0-spacer: 0;
  --xl-spacer: 4rem;
  --l-spacer: 2rem;
  --m-spacer: 1rem;
  --s-spacer: 0.75rem;
  --xs-spacer: 0.5rem;
  --2xs-spacer: 0.25rem;
  --3xs-spacer: 0.1rem;
  --1-px: 1px;
  --2-px: 2px;
  --3-px: 3px;
  --400-px: 400px;

  --icon-new-window: "⧉";
  --icon-increase: "◭";
  --icon-decrease: "⧩";
  --icon-hold: "≅";
  --icon-lift-spacer: -0.5rem;
  --icon-lift-spacer-2: -0.15rem;

  --margin-centered: var(--0-spacer) var(--auto);

  --smooth: smooth;
  --auto: auto;
  --pointer: pointer;
  --none: none;
  --transition-color: color 0.25s;
  --center: center;
  --left: left;
  --inline-block: inline-block;
  --solid: solid;
  --dashed: dashed;
  --transparent: transparent;
  --relative: relative;
  --absolute: absolute;
  --italic: italic;
  --block: block;
  --both: both;
  --hidden: hidden;
  --scroll: scroll;
}
