@use 'mixins';
@use 'variables';

@forward 'typography';

@forward 'main-nav';
@forward 'back-to-top';

@forward 'footer';

@forward 'code-blocks';

html {
  scroll-padding-top: 44pt;
  @include mixins.at-media {
    scroll-padding-top: 55pt;
  }
}

body {
  min-height: var(--vw-0);
  max-width: var(--line-length);
  margin: var(--margin-centered);
  background: var(--gray-lightest);
  color: var(--gray-darkest);
  font-family: var(--body-font);
  font-size: var(--m-font);
  line-height: var(--m-line-height);
  font-weight: var(--light-font);
  margin-bottom:66pt;
}

[is="dateblock"] {
  margin-bottom: var(--l-spacer);

  & p {
    margin: var(--0-spacer);
    font-size: var(--xs-font);

    & > time {
      font-weight: var(--bold-font);
    }
  }
}

div[is="heading-wrapper"] {
  display: flex;
  flex-direction: column-reverse;
  & > a {
    display: block;
    text-align: center;
    & > span:nth-of-type(1) {
      &:before, &:after {
        display: inline-block;
        margin: var(--0-spacer) var(--m-spacer);
        content: '#';
        font-size: var(--2xs-font);
        position: relative;
        top: var(--3-px);
      }
    }

    & > span:nth-of-type(2) {
      clip: rect(1px,1px,1px,1px)!important;
      border-width: 0!important;
      height: 1px!important;
      overflow: hidden!important;
      padding: 0!important;
      position: absolute!important;
      white-space: nowrap!important;
      width: 1px!important;
    }
  }
}

hr {
  width: 33%;
  border: var(--2-px) var(--solid) var(--gray-darkest);
  border-radius: var(--1-px);
}

.toc {
  padding: var(--none);
  list-style: var(--none);

  li {
    border-bottom: var(--1-px) var(--solid) var(--gray-darker);

    &:last-child {
      border-bottom: var(--none);
    }
  }

  & h3 {
    margin: var(--xs-spacer);
    text-align: var(--left);
    font-size: var(--l-font);

    & a {
      display: var(--block);
      padding: var(--m-spacer);
    }

    & small {
      font-size: var(--s-font);
      display: var(--block);
      color: var(--gray-darker);
      font-weight: var(--light-font);
    }
  }
}

main, article {
  padding: var(--0-spacer) var(--m-spacer);
  padding-top: var(--m-spacer);

  img,
  iframe[src*="https://jsfiddle.net"] {
    display: var(--block);
    margin: var(--margin-centered);
    width: 80%;
    border: var(--3-px) var(--solid) var(--gray-darker);
  }

  iframe[src*="https://jsfiddle.net"] {
    min-height: 300px;
  }

  abbr {
    text-decoration: var(--none);
    border-bottom: var(--1-px) var(--dashed) var(--gray-darker);
  }

  dl {
    & > dt {
      margin-top: var(--m-spacer);
    }

    & > dd {
      margin-bottom: var(--s-spacer);
    }
  }

  details {
    border: var(--1-px) var(--solid) var(--key);
    border-radius: var(--3-px);
    margin-top: var(--m-spacer);
    padding: .5em .5em 0;

    & summary {
      font-weight: var(--bold-font);
      color: var(--key);
      cursor: var(--pointer);
      margin: -.5em -.5em 0;
      padding: .5em;
    }

    & + [is="heading-wrapper"] {
      margin-top: var(--xl-spacer);
    }
  }
}

/*
nav > ul {
  margin: var(--0-spacer);
  padding: var(--0-spacer);
  list-style: var(--none);

  > li {
      margin-top: var(--m-spacer);
  }

  > li:first-of-type {
    margin-bottom: var(--m-spacer);
  }

  & ul {
    list-style: var(--none);
    margin: var(--0-spacer) var(--0-spacer);
    padding: var(--0-spacer) var(--0-spacer);
    & a {
      font-size: var(--s-font);
    }

    li:last-of-type a {
      padding-bottom: var(--s-spacer);
    }
  }

  & a {
    display: var(--block);
    overflow: var(--hidden);
    text-align: var(--center);
    position: var(--relative);
  }

  abbr {
    border-color: var(--gray-lightest);
  }
}
*/
ul[is="data-list"] {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin-bottom: var(--m-spacer);
    border-radius: var(--3-px);
    border-style: var(--solid);
    border-width: var(--1-px);
    border-color: var(--key);
    padding: var(--xs-spacer);
    color: var(--key);
    text-align: var(--center);

    span:nth-of-type(1) {
      font-weight: var(--bold-font);
      font-size: var(--s-font);
    }

    span:nth-of-type(2) {
      position: absolute;
      left: -9999px;
    }

    & > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      display: grid;
      grid-template-areas:
        "c c"
        "min max"
        "meter meter";

      & > li:nth-of-type(1) {
        margin: var(--m-spacer);
        grid-area: c;
        font-weight: var(--bold-font);
        font-size: var(--l-font);
        text-align: var(--center);

        &:after {
          display: var(--inline-block);
          position: var(--relative);
          top: var(--icon-lift-spacer-2);
          margin-left: var(--s-spacer);
        }

        & > b {
          position: absolute;
          left: -9999px;
        }
      }

      & > li:nth-of-type(2), & > li:nth-of-type(3) {
        text-align: var(--center);
        font-size: var(--xs-font);
      }

      & > li:nth-of-type(2) {
        grid-area: min;
      }

      & > li:nth-of-type(3) {
        grid-area: max;
      }

      & > li:nth-of-type(4) {
        grid-area: meter;
        meter {
          display: block;
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }

    &[data-icon="hold"] {
      & > ul > li:nth-of-type(1) {
        &:after {
          content: var(--icon-hold);
        }
      }
    }

    &[data-icon="increase"] {
      color: var(--green);
      border-color: var(--green);

      & > ul > li:nth-of-type(1) {
        &:after {
          content: var(--icon-increase);
        }
      }
    }

    &[data-icon="decrease"] {
      color: var(--red);
      border-color: var(--red);

      & > ul > li:nth-of-type(1) {
        &:after {
          content: var(--icon-decrease);
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: var(--smooth); // not available in Safari - graceful degradation
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--gray-darkest);
    color: var(--gray-lightest);
    font-weight: var(--medium-font);
  }

  hr {
    border: 1px solid var(--gray-lightest);
  }

  a {
    color: var(--key-light);
    text-decoration-color: var(--key-light);
    font-weight: var(--x-bold-font);

    &:hover {
      color: var(--gray-lightest);
    }
  }

  [is="dateblock"] p > time, b, strong {
        font-weight: var(--x-bold-font);
  }

  nav > ul a:after {
    border-top: var(--1-px) var(--solid) var(--gray-lightest);
  }

  main, article {
    img,
    iframe[src*="https://jsfiddle.net"] {
      border: 3px solid var(--gray-lightest);
    }

    details {
      // font-weight: var(--bold-font);

      & summary {
        // font-weight: var(--bold-font);
        color: var(--key-light);
      }
    }
  }

  ul[is="data-list"] {
    & > li {
      &[data-icon="hold"] {
        border-color: var(--key-light);
        color: var(--key-light);
      }

      &[data-icon="increase"] {
        color: var(--green-light);
        border-color: var(--green-light);
      }

      &[data-icon="decrease"] {
        color: var(--red-light);
        border-color: var(--red-light);
      }
    }
  }

  kbd>kbd {
    border: var(--1-px) var(--solid) var(--gray-lightest);
  }
}

div[is="heading-wrapper"] > a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  ul[is="data-list"] {
    display: grid;
    gap: var(--m-spacer);
    grid-template-columns: repeat(3, 1fr);

    & > li {
      margin-bottom: var(--0-spacer);

      &:nth-of-type(3), &:nth-of-type(5) {
        grid-column-start: 1;
      }
    }
  }
}

.heading-permalink {
  display: var(--inline-block);
  margin-right: var(--2xs-spacer);
}

.notice {
  font-size: var(--xs-font);
}
